cffi==1.17.1
cryptography==44.0.2
exceptiongroup==1.2.2
ifaddr==0.2.0
iniconfig==2.1.0
packaging==24.2
pluggy==1.5.0
protobuf==6.30.1
pycparser==2.22
pycrypto==2.6.1
pycryptodomex==3.22.0
pytest==8.3.5
tomli==2.2.1
zeroconf==0.145.1
